@{
    ViewBag.Title = "Home Page";
}
<div style= background-image: url="https://cdn5.vectorstock.com/i/1000x1000/95/59/colorful-poster-shopping-online-with-common-online-vector-15209559.jpg"
     height: 80%;
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;>
    <div class="container">
        <center>
            <div id="banner_content">
                <font color="red">
                    <h1>Digital Library</h1>
                    <p>Learn Online & Gain Knowledge </p>
                </font>
                <br />
                <a href="https://localhost:44309/book_thirupa/Index" class="btn btn-danger btn-lg active">Check Books Now</a>
            </div>
        </center>
    </div>
</div>